.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    background-color: lightgray;
}

.recipes {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 200px;
    padding: 8px;
    margin: 16px;
    
  }